.page--quiz {
    .quiz {
        .inner {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
}

.page--quiz-name {
    width: 100%;
    min-height: 100vh;
    background: url('../images/quiz-name/background-quiz-name.jpg') center center no-repeat;
    background-size: 100% 100%;
    position: relative;
    @include screen ( big ) {
        min-height: calc( 100vh - 50px );
    }

    .quiz {
        width: 770px;
        height: 550px;
        background: url('../images/global/paper-quiz.png') no-repeat;
        margin: 50px auto 0;

        .inner {
            position: relative;
            padding: 70px 60px 0;
            &:before {
                content: '';
                width: 105px;
                height: 231px;
                background: url('../images/quiz-name/pencil.png') no-repeat;
                @include ab ( n, n, 0, 0 );
            }

            .heading {
                text-align: center;
                @include ab ( -40px, 50%, n, n );
                @include transform ( translateX(-50%) );
            }
            p {
                color: #000;
                font-size: 12px;
                text-align: center;

                margin: 0 auto;
                max-width: 400px;

                strong {
                    display: block;
                }
            }
            .form {
                max-width: 600px;
                margin: 25px auto 0;
                border: 1px solid #d5d5d5;
                overflow: hidden;
                @include border-radius ( 7px, 7px, 0, 0 );
            }
            .form__field {
                &:first-child {
                    .col {
                        border-top: 0;
                    }
                }
            }
            .form__field--two-col {
                .col {
                    width: 50%;
                    float: left;
                }
            }
            .form__field--name {
                .col {
                    padding: 20px 50px;
                    border-left: 1px solid #d5d5d5;
                    &:first-child {
                        border-left: 0;
                    }

                    .title {
                        line-height: normal;
                    }
                }
            }
            .form__field--select {
                .col {
                    position: relative;
                    padding: 20px 50px 40px;
                    background-color: #fff;
                    border-left: 1px solid #d5d5d5;
                    &:first-child {
                        border-left: 0;
                    }

                    .select-wrapper {
                        width: 100%;
                        height: 100%;
                        @include ab ( 0, 0, n, n );
                    }
                    .title {
                        line-height: normal;
                    }
                    label {
                        width: 100%;
                        max-width: 50px;
                        height: 100%;
                        background-color: #ededed;
                        color: #252525;
                        text-align: center;
                        border-left: 1px solid #d5d5d5;
                        @include ab ( 0, n, n, 0 );

                        .outer {
                            width: 100%;
                            height: 100%;
                            display: block;
                            position: relative;
                        }
                        .fa {
                            font-size: 3em;
                            @include ab ( 50%, 50%, n, n );
                            @include transform ( translate(-50%, -50%) );
                        }
                    }
                }
            }
            .col {
                padding: 30px 50px;
                border: 1px solid #d5d5d5;
                border-left: 0;
                border-right: 0;
                border-bottom: 0;

                .title {
                    color: #252525;
                    font-size: 12px;
                    font-style: italic;
                    line-height: 30px;
                    display: block;
                    @include opacity (0.7);
                }
                label {
                    cursor: pointer;
                    color: #252525;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 30px;
                    text-transform: uppercase;
                }
                .input-text {
                    width: 100%;
                }
            }
            .col--none-padding {
                padding: 30px 0;
            }
            .button__wrapper {
                margin-top: 20px;
            }
        }
    }
    .product {
        z-index: 2;
        @include ab ( n, 5%, -6%, n );
        width: 100%;
        max-width: 297px;
        @include screen ( hd ) {
            max-width: 397px;
        }
    }
    .shoes {
        z-index: 2;
        @include ab ( n, n, -3%, 10% );
        width: 100%;
        max-width: 166px;
        @include screen ( hd ) {
            max-width: 226px;
        }
    }
}

.page--quiz-zodiac {
    @extend .page--quiz-name;
    background: url('../images/quiz-zodiac/background-quiz-zodiac.jpg') center center no-repeat;
    background-size: 100% 100%;

    .quiz {
        .inner {
            &:before {
                width: 120px;
                height: 210px;
                background: url('../images/quiz-zodiac/pencil.png') no-repeat;
            }

            .form__field--select {
                .col {
                    background-color: transparent;
                    padding: 30px 50px;

                    .dob {
                        cursor: pointer;
                        float: left;
                        width: 33.333%;
                        display: block;
                        padding: 28px 0;
                        text-align: center;
                        border-left: 1px solid #d5d5d5;
                        &:first-child {
                            border-left: 0;
                        }

                        span {
                            font-size: 12px;
                            font-weight: bold;
                            color: #252525;
                            text-transform: uppercase;
                        }
                    }
                }
                .col--none-padding {
                    padding: 0 50px 0 0;
                    background-color: #fff;
                }
            }
        }
    }
}

.page--quiz-zodiac-result {
    @extend .page--quiz-name;
    background: url('../images/quiz-zodiac/background-quiz-zodiac-result.jpg') center center no-repeat;
    background-size: 100% 100%;

    .quiz {
        background: url('../images/global/paper-quiz-zodiac-result.png') no-repeat;

        .inner {
            .wrap-img {
                text-align: center;
            }
            p {
                strong {
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.page--quiz-name-result {
    @extend .page--quiz-name;

    .quiz {
        width: 790px;
        height: 567px;
        background: url('../images/global/paper-quiz-zodiac-name.png') no-repeat;

        .inner {
            .wrap-baby-name {
                margin: 30px 0;
                text-align: center;

                .name {
                    color: #ec602b;
                   -webkit-text-fill-color: #ec602b; /* Will override color (regardless of order) */
                   -webkit-text-stroke-width: 1px;
                   -webkit-text-stroke-color: #fff;

                    font-size: 32px;
                    font-family: $font-iCPB;
                    line-height: normal;
                    text-transform: uppercase;

                    padding: 15px 20px 2px;
                    border: 1px solid #d5d5d5;
                    @include border-radius ( 7px );
                }
            }
            p {
                strong {
                    font-size: 18px;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

.facebook-app {
    .page--quiz-name {
        background: url('../images/quiz-name/background-quiz-name--app.jpg') center center no-repeat;
        background-size: 100% 100%;
        min-height: 704px;
        @include screen ( big ) {
            min-height: 704px;
        }

        .product, .shoes {
            display: none;
        }
    }
    .page--quiz-zodiac {
        background: url('../images/quiz-zodiac/background-quiz-zodiac-result--app.jpg') center center no-repeat;
        background-size: 100% 100%;
        min-height: 720px;
        @include screen ( big ) {
            min-height: 720px;
        }

        .quiz {
            .inner {
                &:after {
                    content: '';
                    width: 116px;
                    height: 164px;
                    background: url('../images/quiz-zodiac/start.png') no-repeat;
                    @include ab ( 5%, n, n, -20px );
                }
            }
        }
        .product {
            display: block;
            max-width: 297px;
        }
    }
    .page--quiz-name-result {
        background: url('../images/quiz-name/background-quiz-name--app.jpg') center center no-repeat;
        background-size: 100% 100%;
        min-height: 704px;
        @include screen ( big ) {
            min-height: 704px;
        }

        .quiz {
            .inner {
                &:before {
                    content: '';
                    width: 131px;
                    height: 199px;
                    background: url('../images/quiz-name/pencil--app.png') no-repeat;
                    @include ab ( n, 0, 0, n );
                }
            }
        }
        .product, .shoes {
            display: none;
        }
    }
    .page--quiz-zodiac-result {
        background: url('../images/quiz-zodiac/background-quiz-zodiac-result--app.jpg') center center no-repeat;
        background-size: 100% 100%;
        min-height: 720px;
        @include screen ( big ) {
            min-height: 720px;
        }

        .quiz {
            .inner {
                &:after {
                    content: '';
                    width: 116px;
                    height: 164px;
                    background: url('../images/quiz-zodiac/start.png') no-repeat;
                    @include ab ( 5%, n, n, -20px );
                }
            }
        }
        .product, .shoes {
            display: none;
        }
    }
}
