@font-face {
    font-family: 'iCielPantonBlack';
    src: url('../fonts/iCielPantonBlack.eot');
    src: url('../fonts/iCielPantonBlack.eot') format('embedded-opentype'), url('../fonts/iCielPantonBlack.woff2') format('woff2'), url('../fonts/iCielPantonBlack.woff') format('woff'), url('../fonts/iCielPantonBlack.ttf') format('truetype'), url('../fonts/iCielPantonBlack.svg#iCielPantonBlack') format('svg');
}

@font-face {
    font-family: 'iCielPantonLight';
    src: url('../fonts/iCielPantonLight.eot');
    src: url('../fonts/iCielPantonLight.eot') format('embedded-opentype'), url('../fonts/iCielPantonLight.woff2') format('woff2'), url('../fonts/iCielPantonLight.woff') format('woff'), url('../fonts/iCielPantonLight.ttf') format('truetype'), url('../fonts/iCielPantonLight.svg#iCielPantonLight') format('svg');
}
