<header>
	<div class="container">
		<a href="/" class="logo">
			<img src="images/global/logo.png" alt="Goodry - Bé yêu">
		</a>
		<nav class="main-menu">
			<ul>
				<li class="active">
					<a href="/" title="Trang chủ">Trang chủ</a>
				</li>
				<li>
					<a href="" title="Gợi ý tên cho bé">Gợi ý tên <br>cho bé</a>
				</li>
				<li>
					<a href="" title="Đoán tính cách của bé">Đoán tính cách <br>của bé</a>
				</li>
			</ul>
			<a href="javascripts:void(0)" class="bugger-menu-close">
				<i class="fa fa-times" aria-hidden="true"></i>
			</a>
		</nav>
		<a href="javascripts:void(0)" class="bugger-menu">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</a>
	</div>
</header>