<!-- /* Box Modal */ -->
<!-- /* Box Modal: Info */ -->
<div id="modal-info" class="modal modal-info mfp-hide">
    <div class="outer">
    	<a href="" title="Đóng" class="close"></a>
    	<div class="inner">
    		<h3>Thông tin của bạn</h3>
    		<div class="form">
    			<form action="" class="" id="">
    				<div class="form__field">
    					<i class="fa fa-user-o" aria-hidden="true"></i>
    					<div class="input-text input-text-2">
    						<input type="text" class="txt-full-name" id="txt-full-name" name="txt-full-name" placeholder="Họ và tên">
    					</div>
    				</div>
    				<div class="form__field">
    					<i class="fa fa-phone" aria-hidden="true"></i>
    					<div class="input-text input-text-2">
    						<input type="text" class="txt-phone" id="txt-phone" name="txt-phone" placeholder="Số điện thoại">
    					</div>
    				</div>
    				<div class="form__field">
    					<i class="fa fa-address-book-o" aria-hidden="true"></i>
    					<div class="input-text input-text-2">
    						<input type="text" class="txt-address" id="txt-address" name="txt-address" placeholder="Địa chỉ">
    					</div>
    				</div>
    				<div class="form__field">
    					<i class="fa fa-envelope-o" aria-hidden="true"></i>
    					<div class="input-text input-text-2">
    						<input type="text" class="txt-email" id="txt-email" name="txt-email" placeholder="Email">
    					</div>
    				</div>
		    		<div class="button__wrapper">
						<button title="Chia sẻ ngay để nhận qùa" class="button" type="submit">Chia sẻ ngay để nhận qùa</button>
					</div>
    			</form>
    		</div>
    	</div>
    </div>
</div>
