/*
** BUTTONS
** Please use button- as your CSS class prefix
*/

.button {
    width: auto;
    height: 40px;
    line-height: 40px;
    border: 3px solid #fff;
    display: inline-block;
    text-decoration: none;

    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-family: $font-iCPB;
    text-transform: uppercase;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);

    padding: 0 20px;
    @include transform ( scale(1) );
    @include linear-gradient( to bottom, #eb5c26 0%, #eb5c27 100% );
    @include transition ( all .3s ease-in-out );
    @include border-radius ( 20px, 20px, 20px, 20px );
    @include box-shadow ( -5px, 9px, 5px, rgba(0, 0, 0, 0.2) );
    &:hover {
        @include transform ( scale(1.1) );
    }
    @include screen ( small ) {
        font-size: 17px
    }
    @include screen ( medium ) {
        font-size: 22px;
        height: 45px;
        line-height: 45px;
    }
}

.button--full {
    width: 100%;
    display: block;
}

.button__wrapper {
    padding: 0 10px;
    text-align: center;
    @include screen ( medium ) {
        padding: 0;
    }
}
