/*
** HEADER
*/

header {
	padding: 15px 0 0;

	.logo {
		display: inline-block;
		vertical-align: top;
	}
	.main-menu {
		margin: 15px 0 0 40px;
		display: inline-block;
		vertical-align: top;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding: 0 20px;
				position: relative;

				display: inline-block;
				vertical-align: top;
				&.active, &:hover {
					color: #eb5c27;
					&:before {
						content: '';
						width: 100%;
						height: 3px;
						background-color: #eb5c27;

						top: 0;
						@include opacity ( 1 );
					}
				}
				&:before {
					content: '';
					width: 100%;
					height: 3px;
					background-color: #3ab44a;
					@include opacity ( 0 );
					@include ab ( 10px, 0, n, n );
					@include transition ( all .2s ease-in-out );
				}

				a {
					color: #3ab44a;
					font-size: 18px;
					font-family: $font-iCPB;
					text-align: center;
					text-transform: uppercase;

					line-height: normal;

					display: block;
					padding-top: 20px;
					@include transition ( all .2s ease-in-out );
				}
			}
		}
	}
}
