/*
** HEADER
*/

header {
	padding: 10px 0 0;
	@include screen ( medium ) {
		padding: 15px 0 0;
	}

	.logo {
		display: block;
		text-align: center;
		@include screen ( medium ) {
			display: inline-block;
			vertical-align: top;
		}

		img {
			max-width: 50%;
			@include screen ( medium ) {
				max-width: 100%;
			}
		}
	}
	.bugger-menu {
		@include ab ( 10px, n, n, 10px );
		@include screen ( medium ) {
			display: none;
			transform: none;
		}

		.fa {
			font-size: 3em;
			color: #e96035;
		}
	}
	.main-menu {
		width: 100%;
		height: 100%;
		background-color: rgba( 234, 87, 38, 0.95 );
		z-index: 99;
		@include ab ( 0, 0, n, n );
		display: none;
		@include screen ( medium ) {
			margin: 15px 0 0 60px;
			width: auto;
			height: auto;
			position: relative;
			left: auto;
			top: auto;
			background-color: transparent;
			display: inline-block!important;
			vertical-align: top;
		}
		@include screen ( ipad ) {
			margin: 15px 0 0 80px;
		}
		@include screen ( large ) {
			margin: 15px 0 0 120px;
		}

		ul {
			padding: 0;
			margin: 60px 0 0;
			list-style: none;
			@include screen ( medium ) {
				margin-top: 0;
			}

			li {
				padding: 0 15px;
				position: relative;
				&.active, &:hover {
					color: #eb5c27;
					&:before {
						content: '';
						width: 100%;
						height: 3px;
						background-color: #eb5c27;

						top: 0;
						@include opacity ( 1 );
					}
				}
				&:before {
					content: '';
					width: 100%;
					height: 3px;
					background-color: #3ab44a;
					@include opacity ( 0 );
					@include ab ( 10px, 0, n, n );
					@include transition ( all .2s ease-in-out );
					display: none;
					@include screen ( medium ) {
						display: block;
					}
				}
				@include screen ( medium ) {
					display: inline-block;
					vertical-align: top;

					a {
						color: #3ab44a;
					}
				}
				@include screen ( ipad ) {
					padding: 0 20px;
				}

				a {
					color: #fff;
					font-size: 18px;
					font-family: $font-iCPB;
					text-align: center;
					text-transform: uppercase;

					line-height: normal;

					display: block;
					padding-top: 30px;
					@include transition ( all .2s ease-in-out );
					@include screen ( medium ) {
						font-size: 16px;
						padding-top: 20px;
					}
					@include screen ( ipad ) {
						font-size: 18px;
					}

					br {
						display: none;
						@include screen ( medium ) {
							display: block;
						}
					}
				}
			}
		}
		.bugger-menu-close {
			@include ab ( 10px, 10px, n, n );
			display: none;
			@include screen ( medium ) {
				display: block;
			}

			.fa {
				color: #fff;
				font-size: 3em;
			}
		}
	}
}

.facebook-app {
	header {
		/* padding: 15px 30px;
		@include screen ( ipadPortrait ) {
			padding: 15px 40px 15px 55px;
		} */
	}
}
