.modal {
	.outer {
		width: 100%;
		height: 100%;
		position: relative;
	}
	/* .inner {} */
	.close {
		background: url('../images/modal/icon-close.png') no-repeat;
		width: 43px;
		height: 43px;
		display: block;
		@include ab ( -16px, n, n, 7px );
	}
}

.modal-info {
	background: url('../images/modal/background-modal-info.png') center center no-repeat;
	background-size: 100% 100%;
	width: 100%;
	max-width: 516px;
	height: 461px;
	margin: 0 auto;
	/* margin: 15% auto;
	@include screen ( ipad ) {
	} */

	.outer {
		padding: 15px 25px 15px 10px;
		@include screen ( medium ) {
			padding: 30px 65px 30px 40px;
		}
	}
	.inner {
		h3 {
			color: #eb5c27;
			font-size: 20px;
			font-family: $font-iCPB;
			text-align: center;
			text-transform: uppercase;
			@include screen ( medium ) {
				font-size: 30px;
			}
		}
		.form {
			margin-top: 40px;
		}
		.form__field {
			width: 100%;
	        height: 40px;
	        background-color: #fafafa;
	        border: 1px solid #cecece;
	        padding: 0 10px;
	        margin-top: 15px;
	        &:first-child {
	        	margin-top: 0;
	        }

			.fa {
				display: inline-block;
				vertical-align: middle;
				margin-right: 5px;
			}
			.input-text {
				width: 90%;
				height: 100%;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.button__wrapper {
			margin-top: 35px;
		}
	}
}

.facebook-app {
	.mfp-bg {
		position: absolute;
	}
	.mfp-close {
		display: none;
	}
	.mfp-wrap {
		position: absolute;
	}
	.mfp-content {
		margin-top: 20%;
	}
}